* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 18px;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	background: linear-gradient(to bottom,#04b 0%,#81c4f7 100%);
}

.index-form {
	height: 100%;
}

.index-mask {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	opacity: 0.6;
}

.index-background {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.index-panel, .scale-detail-panel {
	position: absolute;
	width: 1000px;
	height: 750px;
	background-color: #000;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow: hidden;	
	border: 15px solid #fff;
	border-radius: 15px;
}

.index-condition-container {
	height: 80px;
}

.index-condition-item {
	display: inline-block;
	padding: 20px;
}

.index-condition-title {
	color: rgb(227, 143, 45);
	display: inline-block;
	width: 60px;
	vertical-align: middle;
	font-weight: 600;
}

.index-condition-input {
	width: 160px;
	height: 30px;
	border: 0;
	border-radius: 15px;
	vertical-align: middle;
	padding: 5px 20px;
}

.index-condition-btn {
	display: inline-block;
	color: rgb(227, 143, 45);
	width: 100px;
	height: 35px;
	border-radius: 15px;
	border: 2px solid rgb(227, 143, 45);
	text-align: center;
	padding: 5px 10px;
	font-weight: 600;
}

.index-condition-btn:hover {
	cursor: pointer;
	background-color: rgb(227, 143, 45);
	color: #000;
}

.index-data {
	height: calc(100% - 180px);
	margin: 10px;
	padding: 10px 20px;
	border: 1px solid #ccc;
	border-radius: 15px;
	overflow-y: auto;
}

.index-data-item {
	margin: 10px;
	padding: 10px 20px;
	height: 40px;
	background: linear-gradient(to bottom,#3b9bf5 0%,#81c4f7 100%);
	border-radius: 20px;
}

.index-data-item:hover {
	cursor: pointer;
	background: linear-gradient(to bottom,#3b9bf5 0%,#04b 100%);
}

.data-item-col {
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
}

.data-item-col:first-child,
.data-item-col:nth-child(2) {
	display: none;
}

.data-item-col:nth-child(3) {
	width: 350px;
}

.data-item-col:nth-child(4) {
	width: 150px;
}

.data-item-col:nth-child(5) {
	width: 50px;
}

.data-item-col:nth-child(6) {
	width: 80px;
}

.index-foot {
	height: 100px;
	padding: 10px;
	text-align: center;
}

.zy-pages {
	height: 100%;
}

.zy-pages-btn {
	margin: 0 30px;
	width: 50px;
	height: 50px;
	display: inline-block;
	border-radius: 50px;
	background-image: url('../images/direction.png');
	background-size: 240% 280%;
	background-repeat: no-repeat;
	vertical-align: middle;
}

.zy-pages-btn:hover {
	cursor: pointer;
	transform: translateY(-3px);
}

.zy-pages-display, .zy-pages-jump {
	margin: 0 30px;
}

.zy-pages-display {
	color: #f74;
}

.zy-pages-next {
	background-position: 0px -65px;
}

.zy-pages-display, .zy-pages-jump {
	display: inline-block;
}

.zy-pages-jump-input {
	width: 100px;
	vertical-align: middle;
	height: 30px;
	padding: 0 20px;
	border: 0;
	border-radius: 15px;
}

.zy-pages-jump-btn {
	vertical-align: middle;
	background-color: rgba(0, 0, 0, 0);
	text-indent: 100em;
	border: 0;
	background-position: -65px 0px;
}

.scale-detail-panel {
	overflow: visible;
	display: none;
}

.scale-detail-btn {
	position: absolute;
	right: -100px;
	width: 100px;
	height: 100px;
	background-color: #fff;
	content: ".";
	border-radius: 50px;
	opacity: 0.7;
	background-size: 55% 55%;
	background-repeat: no-repeat;
	background-position: center; 
}

.scale-detail-btn-close {
	top: -20px;
	background-image: url('../images/close.png');
}

.scale-detail-btn-userData {
	top: 90px;
	background-image: url('../images/data.png');
	background-size: 50% auto;
}

.scale-detail-btn-advice {
	top: 200px;
	background-image: url('../images/advice.png');
}

.scale-detail-btn-copy {
	top: 310px;
	display: none;
	background-image: url('../images/copy.png');
}

.scale-detail-btn:hover {
	cursor: pointer;
	opacity: 1.0;
}

.scale-detail-container {
	margin: 10px;
	padding: 10px 20px;
	width: 100%;
	height: 100%;
	overflow-y: auto;
	color: rgb(227, 143, 45);
}

.scale-detail-base, .scale-detail-advice {
	width: 100%;
}

.scale-detail-advice {
	display: none;
}

.scale-detail-title {
	font-weight: 600;
}

.testee-user-base, 
.testee-personal-info,
.testee-groups {
	margin: 15px 20px;
}

.testee-user-base > span:nth-child(odd),
.testee-groups > span:nth-child(odd) {
	font-weight: 600;
}

.testee-user-base > span:nth-child(even),
.testee-groups > span:nth-child(even) {
	margin-right: 20px;
}

.testee-personal-info-item {
	margin: 10px 0;
}

.testee-personal-info-item > span:nth-child(odd) {
	font-weight: 600;
}

.testee-advice-item {
	margin: 100px 20px;
	border-bottom: 1px solid;
}

.testee-advice-factorName {
	font-weight: 600;
	margin: 30px;
}

.testee-advice-description,
.testee-advice-advice {
	margin: 30px 0;
	line-height: 2;
}

.testee-advice-description > span,
.testee-advice-advice > span {
	font-weight: 600;
}

.testee-data {
	margin: 20px;
}

.testee-data-option,
.testee-data-score {
	margin: 20px 0;
}

.testee-data-title {
	line-height: 2.5;
	font-weight: 600;
}

.testee-data-row > span {
	display: inline-block;
	width: 60px;
	height: 40px;
	font-weight: 600;
	overflow: hidden;
}

.testee-data-row > .testee-data-row-head {
	width: 140px;
}

.testee-data-row > .testee-data-row-split {
	width: 30px;
}

.testee-factor-score-level {
	margin: 20px;
}


.testee-factor-score-level > .testee-data-row > .testee-data-row-head {
	width: 200px;
}